@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* shared style */
body{
    background-color: black;
}
.btn-primary {

border-radius: 42px;
background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
border: none;
color: white;
font-size: 1.01rem ;
font-weight: 600;
line-height: 22px;
}

.btn-secondary {

    border-radius: 42px;
   background: transparent;
    padding: 16px 40px 16px 40px;
   border: 1px solid white;
    color: rgb(255, 255, 255);
    font-size: 1.01rem ;
    font-weight: 600;
    line-height: 22px;
    }

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .display-flex{
    display: flex;
}

.bg-black{
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0) 800%);
  background-size: cover;

}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-justify{

    text-align: justify;
}
  /* ----- */
.header{
    overflow: hidden;
    
}

/* navbar stytle */
  .brand-name{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 80%;

    
  }

.text-white{
   color:  rgb(255, 255, 255); 
}

.navbar{
    display: flex;
    max-width: 66.25rem;
    justify-content: space-between;
    align-items: center;
    margin: 3.18rem auto;
    
}
.nav-border{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px;
}

.nav-logo{
    display: none;
}
.nav-link{
    text-decoration: none;
    Font-weight: 400;
    Font-size: 1.12rem;
    line-height: 140%;
}

.nav-item{
     list-style: none;
     margin-right: 30px;
}

.home-btn{
        border-radius: 46px;
        background: rgb(230, 83, 60);
        padding: 8px 20px 8px 20px;
}



/* banner style */

.banner{
    max-width: 66.25rem;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top: 8rem;
    height: auto;
    
}
.banner-content{
    width: 50%;
    justify-content: center;
    align-items: center;
}



.banner-title{

    font-size: 4.87rem;
    font-weight: 900;
    line-height: 120%;
    color: white;
    padding: 0px;
    margin: 0px;
   
}

.text-miama{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-size: 5.87rem;
    font-weight: 400;
    color: white;
    padding: 0px;
    margin: 0px;
    
}

.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    text-align: justify;
   
}

.banner-img{
    padding-left: 150px;
}



 
.dot1{

    width: 2.5rem;
    height: 2.5rem;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin: 8px 12px;
}

.blur-title1{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 1.5rem;
font-weight: 900;
line-height: 1.5rem;

}
.text-left{
    text-align: left;
}

.blur-description1{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    }
    
    .banner-blur-card3{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, .54);
    padding: 20px 2px 20px 2px;
    width: 12.875rem;
    margin-left: -6rem;
    margin-top: -10rem;


    }

    .banner-blur-card4{
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(5px);
        background: rgba(48, 48, 48, .54);
        padding: 20px 2px 20px 2px;
        width: 12.875rem;
      

        margin-left: 11rem;
        margin-bottom: -15rem;
        }

    .blur-title2{
        color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 30px;
    }


    /* havit Section style */


    .havits{
        background-color: rgb(0, 0, 0);    
        padding: 5px;
    }

    .havits-inner{

        max-width: 66.25rem;
        margin: auto;
        padding-top: 60px;
    }

    .havit-content{
        max-width: 671px;
        margin: auto;
    }

    .havit-title{
       
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        margin: 0px;
    }

    .hevit-description{

        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        text-align: center;

    }

   


    .havit-card-content{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 100px;
        padding: 40px;
        width: 80%;
        margin: auto;
      
        
       
    }
   
    .card img{
        border-radius: 50%;
        width: 100%;
        
    }

    .card-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        margin:0px;
        margin-top: 20px;
        
    }

    .card-description{

        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }


/* Extra Section Style */

.extra-mile{
    max-width: 66.25rem;  
    padding: 18px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
}

.extra-content{

    margin: 0px 54px 54px 40px;
    width: 27.5rem;
}
.extra-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 100%;
    text-align: left;
    margin: 10px auto;
    
}

.extra-description{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0.3px;
text-align: left;

}


.extra-img{
    width: 50%;
    margin: auto;
}

.extra-img img{
    width: 100%;
    border-radius: 20px;
}

.extra-btn{
    margin-top: 40px;
}


/* bmi part 1 */

.bmi-1{
    max-width: 41.93rem;
    margin: 0 auto;
    padding-top: 78px;
}

.bmi1-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin: 0px;

}

.bmi1-description, .bmi-cal-description{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
font-weight: 400;
line-height: 1.5;
text-align: left;
}


/* bmi part 2 */

.bmi-2{

    max-width: 100%;
    background: rgb(34, 34, 34);
}

.bmi-content{

    max-width: 66.25rem;
    margin:0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bmi-chart-title, .bmi-cal-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

}

.bmi-chart{
    width: 50%;
    padding-right: 100px;
}


.bmi-calculate{
    max-width: 50%;
}

.table{
    margin: 52px 1px;
}
table{
    border-collapse: collapse;
}
 
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 40px;
}
           

.tab-heading{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 120%;
text-align: left;
}

td{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}




input[type="text"]{
height: .625rem;
border-radius: 5px;
max-width: 95%;
border: none;
 padding: 15px;
 background-color: #383838; /* Dark gray input background */
 color:rgba(255, 255, 255, 0.6);
font-size: 1rem;
font-weight: 400;
line-height: 1.187rem;

}


.form-class{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-bottom: 40px;
}


      .type-2{
      
        width: 100%;
        padding: 10px;
        margin: .1px;
        border: none;
        border-radius: 5px;
        background-color: #383838; /* Dark gray input background */
        color: rgba(255, 255, 255, 0.6);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.187rem;

    }

    #sex{
        grid-column: span 2;
    
    }





    .teammate{

        max-width: 66.25rem;
        margin: 0 auto;

    }

    .team-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 48px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;

        margin-top: 50px;
        margin-bottom: 20px;
    }

    .team-description{

        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
    }

    .img{
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        width: 326px;
        height: 272px;
        display: flex;
        flex-direction: column;
       justify-content: end;
       border-radius: 10px;
     
    }

    .img1{
     background-image: url("../images/trainer1.png");
    }
    .img2{
     background-image: url("../images/trainer2.png");
    }
    .img3{
     background-image: url("../images/trainer3.png");
    }
    .img4{
     background-image: url("../images/trainer4.png");
    }
    .img5{
     background-image: url("../images/trainer5.png");
    }
    .img6{
     background-image: url("../images/trainer6.png");
    }
   
     
    .img-title {
        color: white;
        font-family: Inter;
        font-size: 25px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin: 0;
        padding: 2px;
        

    }

    .img-description{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin: 2px;
    }

.team-img{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    padding: 50px 0px;
    

}

footer{
    background-color: rgba(255, 255, 255, 0.1);

}


.footer{

    max-width: 66.25rem;
    margin: 0 auto;
    padding: 100px 5px;
    display: flex;


}
.f-intro-title{

color: rgb(230, 83, 60);
font-family: Inter;
font-size: 70px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;

}


.f-into-dexcription{

    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
padding-right: 20px;

}


.contact-title{

    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;



}



.none{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.footer-intro{
   width: 50%;
}


.contact-part{
width: 50%;
   
}

.footer-contact{
    width:50%;
    padding-right: 10px;

}

.copyright{
    max-width: 66.25rem;
    margin: 0 auto;
    padding: 100px 5px;
    text-align: center;

    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding-right: 20px;
   
}

















/* media query */

@media screen and (max-width: 576px) {

    .navbar{
    
        width: 100%;
     
    }

    .nav-link{
        display: none;
    }
  

    .nav-logo{
        display: block;
    }

    .nav-logo > img{
        
        width: 3.75rem;
        height: 3.75rem;
        margin: 0px 10px;
    

    }

    /* banner media section */

    .banner{
        flex-direction: column;
        width: 100%;
        
    }

    .banner-img{
        padding:0px;
    }
  
    .banner-title{

        font-size: 3.87rem;
       
    }

    .banner-content{
        width: 100%;
    }
    


    .banner-blur-card3{

        margin-left: 0.5rem;
        margin-top: -10rem;
        }
    
        .banner-blur-card4{
            
            margin-left: 11rem;
            margin-top: 10rem;
            }



           /* havit media section */

            .havit-card-content{

                display: grid;
                grid-template-columns: repeat(1,1fr);
        
            }



            /* extra section media  */

            .extra-mile{
                flex-direction: column;
              
                
            }
            
        
            .extra-content{
                width: 100%;
                margin:auto
            }
        
            .extra-img{
                width: 100%;
                margin: 20px auto;
            }

            .extra-btn{
                width: 100%;
            }
 

            /* bmi part1 */

            .bmi-1{
                width: 100%;
                margin: auto;
                padding:auto;
            }
    

            .bmi1-title{
                width: 100%;
            
            }

            
            .bmi-content{
                flex-direction: column;
            

            }





            /* ---- */

            input[type="text"]{
               
                 padding: 10px;
                 
               
                
                }

                
      .type-2{
      
        width: 100%;
        padding: 5px;
 

    }
            

    .team-img{

       
        grid-template-columns: repeat(1,1fr);
    
    }

    .img{
        width: 100%;
        
    }
    

    .footer{

        flex-direction: column;
    
    }

    .contact-part{
        flex-direction: column;
    }

    
     .footer-intro{
      padding: 50px 10px;
      width: 100%;
       
    }
    
    .footer-contact{
        width: 100%;
        padding-bottom: 80px;
    } 

      
}


@media screen and (min-width: 576px) and (max-width: 999px){


    .havit-card-content{

        display: grid;
        grid-template-columns: repeat(2,1fr);
       
    }



/* banner part */

      .banner{
        flex-direction: column;
        width: 100%;
        
    }

    .banner-img{
        padding:0px;
    }
  
   

    .banner-content{
        width: 100%;
    }
    


    .banner-blur-card3{

        margin-left: 0.5rem;
        margin-top: -10rem;
        }
    
        .banner-blur-card4{
            
            margin-left: 11rem;
            margin-top: 10rem;
            }


            .extra-content{

                margin: 0px;
                padding-right: 20px;
            }
            .extra-img{

       
                height: 19.93rem;
                width: 16rem;
                margin: auto;
              }
              .extra-img img{
          
                 
                  height: 100%;
                  margin: 0px;
              
                }
          

                      /* bmi part1 */

            .bmi-1{
                width: 100%;
                margin: 0 0;
              
            }
    
            .bmi1-title{
                width: 100%;
            
            }
            

            .bmi-content{
                flex-direction: column;
                width: 100%;

            }

            .bmi-chart{
                width: 100%;
                
            }

            .img{
                width: 199px;
                height: 272px;
            }


            .footer{

                flex-direction: column;
            
            }


             
     .footer-intro{
        padding-bottom: 100px;
        width: 100%;
         
      }
      .contact-part{
        width: 100%;
      }
      .footer-contact{
          width: 100%;
          padding-right: 50px;
      } 
        
          
        
           
   
               
}

