@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* shared style */
/* body{
    width: 90rem;
} */
.btn-primary {

border-radius: 42px;
background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
border: none;
color: white;
font-size: 1.01rem ;
font-weight: 600;
line-height: 22px;
}

.btn-secondary {

    border-radius: 42px;
   background: transparent;
    padding: 16px 40px 16px 40px;
   border: 1px solid white;
    color: rgb(255, 255, 255);
    font-size: 1.01rem ;
    font-weight: 600;
    line-height: 22px;
    }

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .display-flex{
    display: flex;
}

.bg-black{
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(119, 119, 119, 0) 800%);
  background-size: cover;
   
    
  
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-justify{

    text-align: justify;
}
  /* ----- */
.header{
    overflow: hidden;
}

/* navbar stytle */
  .brand-name{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 80%;

    
  }

.text-white{
   color:  rgb(255, 255, 255); 
}

.navbar{
    display: flex;
    max-width: 66.25rem;
    justify-content: space-between;
    align-items: center;
    margin: 3.18rem auto;
    
}
.nav-border{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px;
}

.nav-logo{
    display: none;
}
.nav-link{
    text-decoration: none;
    Font-weight: 400;
    Font-size: 1.12rem;
    line-height: 140%;
}

.nav-item{
     list-style: none;
     margin-right: 30px;
}

.home-btn{
        border-radius: 46px;
        background: rgb(230, 83, 60);
        padding: 8px 20px 8px 20px;
}



/* banner style */

.banner{
    max-width: 66.25rem;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top: 8rem;
    height: auto;
    
}
.banner-content{
    width: 50%;
    justify-content: center;
    align-items: center;
}



.banner-title{

    font-size: 4.87rem;
    font-weight: 900;
    line-height: 120%;
    color: white;
    padding: 0px;
    margin: 0px;
   
}

.text-miama{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-size: 5.87rem;
    font-weight: 400;
    color: white;
    padding: 0px;
    margin: 0px;
    
}

.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
    text-align: justify;
   
}





 
.dot1{

    width: 2.5rem;
    height: 2.5rem;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin: 8px 12px;
}

.blur-title1{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 1.5rem;
font-weight: 900;
line-height: 1.5rem;

}
.text-left{
    text-align: left;
}

.blur-description1{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    }
    
    .banner-blur-card3{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, .54);
    padding: 20px 2px 20px 2px;
    width: 12.875rem;
    margin-left: -6rem;
    margin-top: -10rem;


    }

    .banner-blur-card4{
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(5px);
        background: rgba(48, 48, 48, .54);
        padding: 20px 2px 20px 2px;
        width: 12.875rem;
      

        margin-left: 11rem;
        margin-bottom: -15rem;
        }

    .blur-title2{
        color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 30px;
    }


    /* havit Section style */


    .havits{
        
        background-color: rgb(0, 0, 0);    
         margin-top: 30px;
    }

    .havits-inner{

        max-width: 66.25rem;
        margin: auto;
        padding-top: 60px;
    }

    .havit-content{
        max-width: 671px;
        margin: auto;
    }

    .havit-title{
       
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        margin: 0px;
    }

    .hevit-description{

        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        text-align: center;

    }

   


    .havit-card-content{

        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 100px;
        padding: 40px;
        width: 80%;
        margin: auto;
      
        
       
    }
   
    .card img{
        border-radius: 50%;
        width: 100%;
        
    }

    .card-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        margin:0px;
        margin-top: 20px;
        
    }

    .card-description{

        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

/* media query */

@media screen and (max-width: 576px) {

    .navbar{
    
        width: 100%;
     
    }

    .nav-link{
        display: none;
    }
  

    .nav-logo{
        display: block;
    }

    .nav-logo > img{
        
        width: 3.75rem;
        height: 3.75rem;
        margin: 0px 10px;
    

    }

    .banner{
        flex-direction: column;
        width: 100%;
        
    }

    .banner-title{

        font-size: 3.87rem;
       
    }

    .banner-content{
        width: 100%;
    }
    


    .banner-blur-card3{

        margin-left: 0.5rem;
        margin-top: -10rem;
        }
    
        .banner-blur-card4{
            
            margin-left: 11rem;
            margin-top: 10rem;
            }


            .havit-card-content{

                display: grid;
                grid-template-columns: repeat(1,1fr);
        
            }
 
    
}


@media screen and (min-width: 576px) and (max-width: 999px){


    .havit-card-content{

        display: grid;
        grid-template-columns: repeat(2,1fr);
       
    }

}

